.App {
	background-color: #f2f2f2;
	width: 100vw;
	height: 100vh;

	@media (max-width: 816px) {
		height: 120vh;
	}
}

.heading {
	color: #474747;
	padding-left: 0.5rem;
	.subtitle {
		margin-top: -1rem;
	}
}

.red {
	color: #c9426f;
}
.blue {
	color: #42a2c9;
}

.mid-section {
	padding: 1rem;

	display: table;
	margin: 0 auto;
}
