.piece {
	display: block;
	outline: none;
	border: none;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	width: 2.7rem;
	height: 2.7rem;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;

	.emoji {
		pointer-events: none;
		display: inline-block;
		position: absolute;
		font-size: 2rem;
		transform: translateX(-50%) translateY(-2%);
		filter: brightness();
	}

	// Fix dragging thumbnail issues on safari
	@media not all and (min-resolution: 0.001dpcm) {
		@supports (-webkit-appearance: none) {
			margin-top: 0.325rem;
			top: 0;
			transform: translateY(0%);
		}
	}
}

.red-piece {
	background-color: #c9426f;
	border: 0.3rem solid #e88eac;
	.emoji {
		filter: hue-rotate(300deg);
	}
}

.red-piece:hover {
	cursor: pointer;
	border-color: #ffb8cf;
}

.blue-piece {
	background-color: #42a2c9;
	border: 0.3rem solid #7cd4f7;

	.emoji {
		filter: hue-rotate(180deg);
	}
}

.king {
	box-shadow: 0px 0px 8px 0px white;
}
